/002_Fraction/target/
/003_MoneyBox/nbproject/private/
/003_MoneyBox/build/
/u042_Polynomy/nbproject/private/
/u042_Polynomy/build/
/04PolynomialWED/nbproject/private/
/test2/build/
/u031_Zavodnik/nbproject/private/
/SemestralProject/nbproject/private/
/SemestralProject/build/
/Inheritance/nbproject/private/
/ElevenGame/nbproject/private/
/ZP1backup/nbproject/private/
/Banka/nbproject/private/
/Banka/build/
/Rekurze/nbproject/private/
